/* Dark Theme */

body {
  background-color: #1e1e1e;
  color: #fefae0;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  color: #dda15e;
  margin-bottom: 20px;
}

/* Flashcard Styling */
.flashcard {
  width: 600px;
  height: 500px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  margin: 20px auto;
  text-align: center;
}

.flashcard .front,
.flashcard .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: -2vh;
  font-size: 18px;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.6s;
}

/* Front and Back Styling */
.flashcard .front {
  background-color: #283618;
  color: #fefae0;
}

.flashcard .back {
  background-color: #606c38;
  color: #dda15e;
  transform: rotateY(180deg);
}

/* Flip Animation */
.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}

/* Navigation Buttons */
.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

button {
  background-color: #bc6c25;
  color: #fefae0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Disabled Button Styling */
button:disabled {
  background-color: #4a4a4a; /* Darker background for disabled state */
  color: #a9a9a9; /* Lighter gray color for text */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  opacity: 0.7; /* Slightly transparent to indicate it's disabled */
}

button:disabled:hover {
  background-color: #4a4a4a;  
}

button:hover {
  background-color: #dda15e;
}

/* Rating Buttons */
.rating-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.rating {
  background-color: #bc6c25;
  color: #fefae0;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rating.selected {
  background-color: #dda15e;
}

.rating:hover {
  background-color: #dda15e;
}

/* Dashboard Styling */
.dashboard {
  margin: 0 auto;
  padding: 20px;
  background-color: #283618;
  border-radius: 10px;
}

/* Input Fields */
input[type="text"], textarea, .inputs {
  width: calc(50% - 10px); /* Adjust width for two inputs */
  padding: 10px;
  margin: 10px 5px;
  border: 1px solid #fefae0;
  border-radius: 5px;
  background-color: #606c38;
  color: #fefae0;
  font-size: 16px;
  transition: border-color 0.3s;
}

textarea {
  resize: none;
  height: 200px;
  width: 95%;
}

input[type="text"]:focus, textarea {
  border-color: #dda15e;
  outline: none;
}

/* Flashcard Table */
.flashcard-table {
  border-collapse: collapse;
  margin: 20px 0;
}

.flashcard-table th,
.flashcard-table td {
  border: 1px solid #fefae0;
  padding: 10px;
  text-align: left;
}

.flashcard-table th {
  background-color: #606c38;
  color: #fefae0;
}

.flashcard-table tr:nth-child(even) {
  background-color: #383838;
}

.flashcard-table tr:hover {
  background-color: #4a4a4a;
}
/* Flashcard.css */

.popup-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: #283618;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


@media (max-width: 768px) {
  .flashcard-table td{
    font-size: 1.3vh;
    width: 40px;
  }
  .flashcard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
  }
}